spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/cobranca}
    username: ${SPRING_DATASOURCE_USERNAME:gustavo}
    password: ${SPRING_DATASOURCE_PASSWORD:139150}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: ${SPRING_JPA_SHOW_SQL:false}

server:
  port: ${SERVER_PORT:8080}

app:
  frontend:
    url: ${APP_FRONTEND_URL:http://72.62.12.78}
